.sec1:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: 0.75rem;
  }
.sec1{
   width: 50%;
   height: 100vh;
    background-color: #333333; 
}
.sec2{
    width: 50%;
    height: 100vh;
    background-color: white;
}

.bgimage {
    background-color: #333333;
    background-size: cover;
    background-position: center;
  }
.banner{
    width: 720px;
}
.container1
{
   margin-top: 215px;
   margin-left: 95px;
    
}

.title{
    margin-top: "5px";
    color: white;
    margin-left: 95px;
    font-size: 36px;

    font-family: 'Oswald';
    font-weight: 600;
    width: 380px;
}
.para{
    margin-left: 95px;
    color:white;
    width: 500px;
    font-size: 13px;
}
.loginpage{
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 95px;
    color:black;
    width: 120px;
    height: 20px;
    font-size: 12px;
    background-color: #C4C4C4;
    font-family: 'Poppins';
}

.btn{
    background-color:#2313DD ;
    font-family: 'Poppins';
    font-size: 12px;
    width: 240px;
    height: 52px;
    color:white;
    margin-top: 66px;
    margin-left: -170px;
    border-radius: 7px;
    border:0;
}
.divbtn{
    margin-top: 25px;
    text-align: center;
    margin:0 auto;
    
}
.hr{
    border-bottom: 1px solid grey;
    font-size: 16px;
    font-family: 'Poppins';
}
.hr1{
    border-bottom: 1px solid black;
    width: 135px;
    margin-left: 150px;

}
.img{
    width: 260px;
    height: 42px;
}

.title4{
    font-size: 28px;
    color: black;
    font-family: 'Oswald';
    font-weight: 600;
}

.inputfield{
    border: 1px solid #e2e2e2;
    height: 52px;
    border-radius: 3px;
    width: 420px;
}

.tc{
    font-size: 14px;
    text-align: left;
    font-weight: 400;
}

.submitbtn{

    background-color: #2313DD;
    margin-top: 50px;
    font-size: 12px;
    font-family: 'Poppins';
    width: 180px;
    height: 52px;
    color:white;

}

@media (max-width: 1399.98px) {


}
@media (max-width: 1199.98px) { 

    .container1{
        height: 42px;
        width: 136px;
    }
    .title{
        margin-top: "5px";
    color: white;
    margin-left: 95px;
    font-size: 30px;
    font-family: 'Oswald';
    font-weight: 600;
    width: 380px;

    }
    .para{
        margin-left: 95px;
        color:white;
        width: 591px;
        font-size: 10px;
    }
    .btn{
        background-color: #2313DD;
    width: 190px;
    height: 45px;
    color: white;
    margin-top: 28px;
    margin-left: -71px;
    border-radius: 7px;
    border: 0; 
    }
 }